{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}



    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <section class="login-form">
                <form method="post" action="{{ path("fos_user_security_check") }}" role="login">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" />

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {# <label for="username">{{ 'security.login.username'|trans }}</label>#}
                    <input type="text"  id="username" name="_username" placeholder="Email" value="{{ last_username }}" required class="form-control input-lg" value="john_snow@gmail.com" />

                    {# <label for="password">{{ 'security.login.password'|trans }}</label>#}
                    <input type="password" class="form-control input-lg" id="password" placeholder="Password" name="_password" required="required" />


                    <div class="pwstrength_viewport_progress"></div>

                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"  class="btn btn-lg btn-primary btn-block"></input>
                    <div>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label> 
                    </div>
                    <div>
                        <a href="#">Create account</a> or <a href="#">reset password</a>
                    </div>

                </form>

                <div class="form-links">
                    <a href="#">www.Fr3shDesign.com</a>
                </div>
            </section>  
        </div>

        <div class="col-md-4"></div>


    </div>





{% endblock fos_user_content %}
